.upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-img {
    margin: 20px auto;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    display: block;
}