@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: darkmagenta;
    --primary-dark: darkslategrey;
    --highlight: gold;
    --highlight-tint: #f5aaaa;
    --background-light: floralwhite;
}

body {
    font-family: 'Merriweather', serif;
}